<html>
<head>
	
</head>
<body>
	<h1>
		Admin : Feeder
	</h1>
	<form action="student.html">
    <input type="submit" value="Add a student" />
    </form>
    <br><br><br>
    <form action="instructor.html">
    <input type="submit" value="Add an instructor" />
    </form>
    <br><br><br>
    <form action="course.html">
    <input type="submit" value="Add a course" />
    </form>
    <br><br><br>
    <form action="student.html">
    <input type="submit" value="Add a student" />
    </form>
    <br><br><br>
    <form action= "/adminlogin/logout">
    <input type="submit" value="Logout" />
    </form>
    <br><br><br>
</body>
</html>